@charset "UTF-8";
/* CSS Document */
 @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    /*NAVIGATION*/
     #nav{
         display: none;
    }
     #mobileNav{
         padding: 1.5rem 0rem;
         background-color: #F5949C;
         -webkit-box-shadow: 0px 8px 8px -4px rgba(0,0,0,0.25);
         box-shadow: 0px 8px 8px -4px rgba(0,0,0,0.25);
    }
	 .navbar{
		 display: inline;
	 }
     .nav-link.active{
         background-color: #F5949C;
         color: #FFF;
    }
	 .navbar-toggler{
		 background-color:#9CE6D8; 
		 margin: 1rem 0rem;
		 float: right;
	 }
     .navbar-brand{	
     font-size: 65px;
		 font-family: bebas-neue-rounded, sans-serif;
     font-weight: 400;
     font-style: normal;
     color: #2A2927;
     margin: 0rem 0rem .5rem;
    }
	 .dropdown-divider{
		 border-color: #2A2927;
	 }
	 .navbar-collapse{
		 margin-top: 2rem;
	 }
     .nav-link{
		 display: block;
         font-size: 40px;
         font-family: futura-pt-condensed,sans-serif;
         font-weight: 700;
         font-style: normal;
         color: #2A2927;
         margin: 0rem 0rem .75rem 0rem;
    }
    /* MAIN CONTENT*/
	 .main{
		 width: 100%;
	 }
     .figure-caption{
         display: block;
         visibility: visible;
    }
     .gallery-cards{
         display: none;
    }
     .gallery-cards-mobile{
         margin: 2rem auto;
         display: block;
         visibility: visible;
    }
     .jumbotron{
		 width: 100%;
         background-image: url(https://images.unsplash.com/photo-1486427944299-d1955d23e34d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Y3VwY2FrZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);
         background-repeat: no-repeat;
         background-position: top;
         background-size: 140%;
         padding: 1rem;
         height: 40rem;
    }
     #desktop-cream-filled{
         display: none;
    }
     #mobile-cream-filled{
         display: block;
         visibility: visible;
    }
     .card-Btm img{
         margin-bottom: .5rem;
         height: 40rem;
         width: 100%;
         object-fit: cover;
         object-position: center;
    }
     .card-Top img{
         margin-bottom: .5rem;
         height: 35rem;
         width: 100%;
         object-fit: cover;
         object-position: center;
    }
     #another-nail-in-the-caffeine img{
         object-position: 80%;
    }
     #chilled-to-the-bean img{
         object-position: 30%;
    }
    /*TYPOGRAPHY*/
     h1{
         font-size: 65px;
    }
     h2{
         font-size: 55px;
    }
     h3{
         font-size: 45px;
    }
     h4{
         font-size: 40px;
    }
     h5{
         font-size: 35px;
    }
     h6{
         font-size: 30px;
    }
     p{
         font-size: 30px;
    }
    /* LINKS*/
     a:active{
         opacity: 60%;
    }
    /* MENU*/
     #a-raisin-in-a-bun{
         object-position: 84%;
    }
     #double-truffle{
         object-position: 43%;
    }
     #dirty-dessert{
         object-position: 100% 60%;
    }
    /* ABOUT PAGE*/
     .about{
         display: none;
    }
     .about-mobile{
         display: block;
         visibility: visible;
    }
     #about-img{
         margin-top: .5rem;
         margin-bottom: 1rem;
    }
     #about-para{
		 display: block;
		 visibility: visible;
         margin-bottom: 2rem;
    }
     #services-box{
         width: 96%;
         margin: 0 auto;
    }
     #services-latte{
         object-position: 15% 65%;
         height: 30rem;
    }
    /* CATERING PAGE*/
	 #catering-blurb{
		 margin-bottom: 2rem;
	 }
    /* CONTACT*/
     #mobile-contact-form{
         display: block;
         visibility: visible;
    }
     #desktop-contact-form{
         display: none;
    }
     #mobile-location-info{
         margin-bottom: 1rem;
    }
    /*FOOTER*/
     .footer-nav{
         font-size: 30px;
         display: block;
         margin: .75rem 0rem;
    }
     .active{
         color: #FFF;
    }
     #desktop-footer{
         display: none;
    }
     #mobile-footer{
         padding: 3rem 2rem;
         display: inline;
         visibility: visible;
    }
    /* BUTTONS*/
}
 